# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Large dataset files
marl_dataset/normal/*.pkl
marl_dataset/failures/**/*.pkl

# Screenshots
Screenshot*.png

# Zip archives
*.zip